<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="city.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="javascripts/readmore.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="index.html">Página principal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Más sitios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="Barcelona.html">Barcelona</a>
                        <a class="dropdown-item" href="Madrid.html">Madrid</a>
                        <a class="dropdown-item" href="Sevilla.html">Sevilla</a>
                        <a class="dropdown-item" href="PalmaMallorca.html">Palma de Mallorca</a>
                        <a class="dropdown-item" href="Tenerife.html">Tenerife</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main style="max-width: 1920px; min-width: 500px;">
    <h1>{{page.title}}</h1>
    <p>{{page.cityIntroduction}}</p>
    <p style="clear: both;"></p>
    <div class="post" style="width: 1000px; margin: auto;">
        <img src="{{page.place1}}" style="display: block; margin: 0 auto;">
        <p>{{page.place1t1}} <span class="dots">...</span><span class="more">{{page.place1t2}}</span>
        <button onclick="readMore(0)" class="myBtn">Leer más</button>
    </div>
    <div style="margin-top: 15px;"></div>
    <div class="post" style="width: 1000px; margin: auto;">
        <img src="{{page.place2}}" style="display: block; margin: 0 auto;">
        <p>{{page.place2t1}} <span class="dots">...</span><span class="more">{{page.place2t2}}</span>
        </p>
        <button onclick="readMore(1)" class="myBtn">Leer más</button>
    </div>
    <div style="margin-top: 15px;"></div>
    <div class="post" style="width: 1000px; margin: auto;">
        <img src="{{page.place3}}" style="display: block; margin: 0 auto;">
        <p>{{page.place3t1}} <span class="dots">...</span><span class="more">{{page.place3t2}}</span>
        <button onclick="readMore(2)" class="myBtn">Leer más</button>
    </div>
    <div style="margin-top: 15px;"></div>
    <div class="post" style="width: 1000px; margin: auto;">
        <img src="{{page.place4}}" style="display: block; margin: 0 auto;">
        <p>{{page.place4t1}} <span class="dots">...</span><span class="more">{{page.place4t2}}</span>
        <button onclick="readMore(3)" class="myBtn">Leer más</button>
    </div>
</main>

<footer style="padding-top: 8px;">
    <div style="float: right; color: white; margin-top: 8px; margin-right: 10px; width: 230px; text-align: center;">Página web desarrollada por Jose Marreros y Alexis Navas</div>
    <nav style="width: 145px; margin-left: 10px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="contact.html">Contáctanos</a>
    </nav>
</footer>

</body>
</html>